{% extends 'layout.html' %}

{% block content %}
  <h1>URL Shortener</h1>
  <div class="row flex-center text-left">
    <div class="col sm-8 padding-none js-alerts"></div>
  </div>
  <form class="row flex-center js-link-form">
    <div class="form-group col sm-8 padding-none">
      <input class="input-block js-link-input" type="url" placeholder="Enter a link to shorten it" required>
      <button class="btn-block margin-top-small" type="submit">Shorten</button>
    </div>
  </form>
  <h2 class="margin-top-none margin-bottom-small hidden js-links-heading">Your Links</h2>
  <div class="row flex-center text-left">
    <div class="col sm-8 padding-none js-links"></div>
  </div>
{% endblock %}
