{% extends "layout.html" %}

{% block content %}
  <h1>URL Shortener</h1>
  <h3>Example creation usage:</h3>
  <pre>
  {{request.base_url}}new/https://i.ytimg.com/vi/Mra4JojUxkk/maxresdefault.jpg
  {{request.base_url}}new/https://www.irishtimes.com/polopoly_fs/1.3382212.1517928427!/image/image.jpg_gen/derivatives/box_620_330/image.jpg</pre>
  <h3>Example creation output:</h3>
  <pre>
  { "original_url": "https://i.ytimg.com/vi/Mra4JojUxkk/maxresdefault.jpg", "short_url":"{{request.base_url}}1" }</pre>
  <h3>Usage:</h3>
  <pre>
  {{request.base_url}}1</pre>
  <h3>Will redirect to:</h3>
  <pre>
  https://i.ytimg.com/vi/Mra4JojUxkk/maxresdefault.jpg</pre>
{% endblock %}