{% extends "layout.html" %}

{% block content %}
  <h1>URL Shortener</h1>
  <form class="row flex-center" id="url-form">
    <div class="form-group col sm-8 padding-none">
      <input class="input-block" id="original-url" type="url" placeholder="Enter a link to shorten it" required>
      <button class="btn-small margin-small" type="submit">Shorten</button>
    </div>
  </form>
  <h2 class="margin-top-none margin-bottom-small">Your Links</h2>
  <div class="row flex-center text-left">
    <div class="col sm-8 padding-none" id="your-links"></div>
  </div>
{% endblock %}
